{{! use triple `{`s for title/value/body to retain special characters }}
{{! why do I need two newlines inserted before the `---` when there is one already trailing the `body`? }}
{{#.}}{{#original}}
## {{{title}}}
+ created: {{created}}
+ creator: {{{creator}}}
{{#meta}}
+ {{key}}: {{{value}}}
{{/meta}}

{{{body}}}
{{/original}}{{#updates}}

---
+ type: {{type}}
+ modified: {{modified}}
+ modifier: {{{modifier}}}
{{#meta}}
+ {{key}}: {{{value}}}
{{/meta}}
{{#body}}

{{{.}}}
{{/body}}
{{/updates}}

{{/.}}