{{! use triple `{`s for title/value/body to retain special characters }}
{{#.}}{{#original}}
## {{{title}}}
+ created: {{created}}
+ creator: {{{creator}}}
{{#meta}}
+ {{key}}: {{{value}}}
{{/meta}}

{{{body}}}{{/original}}{{#updates}}

---
+ modified: {{modified}}
+ modifier: {{{modifier}}}
+ type: {{type}}
{{#meta}}
+ {{key}}: {{{value}}}
{{/meta}}
{{#body}}

{{{.}}}{{/body}}{{/updates}}

{{/.}}