{{#util.hsep}}+-{{#util.pad}}-{{/util.pad}}-+{{/util.hsep}}
{{#util.hsep}}| {{/util.hsep}}{{#util.htext}}{{#util.body}}ID     Assignee     Status       Title{{/util.body}}{{/util.htext}}{{#util.hsep}} |{{/util.hsep}}
{{#util.hsep}}+-{{#util.pad}}-{{/util.pad}}-+{{/util.hsep}}
{{#data}}
{{#util.bsep}}| {{/util.bsep}}{{#util.btext}}{{#util.curtailed}}{{#util.body}}{{#util.pad6}}{{{id}}}{{/util.pad6}} {{#util.pad12}}{{{assignee}}}{{/util.pad12}} {{#util.pad12}}{{{status}}}{{/util.pad12}} {{{title}}}{{/util.body}}{{/util.curtailed}}{{/util.btext}}{{#util.bsep}} |{{/util.bsep}}
{{/data}}
{{#util.bsep}}+-{{#util.pad}}-{{/util.pad}}-+{{/util.bsep}}
